[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "packages/yazi/flavors/tokyo-night.yazi"]
	path = packages/yazi/flavors/tokyo-night.yazi
	url = https://github.com/BennyOe/tokyo-night.yazi
[submodule "packages/lesspipe/script"]
	path = packages/lesspipe/script
	url = https://github.com/wofr06/lesspipe
[submodule "meta/plugins/dotbot-yay"]
	path = meta/plugins/dotbot-yay
	url = https://github.com/oxson/dotbot-yay
[submodule "meta/plugins/dotbot-apk"]
	path = meta/plugins/dotbot-apk
	url = https://github.com/mnb3000/dotbot-apk
[submodule "meta/plugins/dotbot-apt"]
	path = meta/plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
[submodule "meta/plugins/dotbot-brewfile"]
	path = meta/plugins/dotbot-brewfile
	url = https://github.com/mnb3000/dotbot-brewfile.git
